body {
  height: 100vh;
}

#budgetListBody {
  align-items: center;
  justify-items: center;
}

section {
  width: 55%;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 2px 2px rgba(153, 153, 153, 0.397);
  border-radius: 2rem;
  background-color: rgb(253, 253, 253);
  margin: 3rem 0rem;
  padding: 4rem 4rem;
}

#top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#panel-div {
  width: 100%;
}

#info-div {
  gap: 0.5;
}

h1 {
  font-size: xx-large;
  font-weight: 600;
}

p {
  font-size: large;
}

#div-price {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

h2 {
  font-size: xx-large;
  font-weight: 800;
}
h3 {
  font-size: large;
  font-weight: 800;
}

#div-checkbox {
  display: flex;
  align-items: center;
  gap: 1 rem;
}
#div-checkbox label {
  margin: 0.5rem;
}

#total-budget-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5rem;
  width: 55%;
  margin: 0 auto;
}

#total-budget-number,
#total-budget-text {
  font-size: xx-large;
  font-weight: 800;
}

#dolar-div {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 0.5rem;
}

@media (max-width: 1500px) {
  section {
    flex-direction: column;
    width: 80%;
    padding: 2rem;
  }
  #top-row {
    flex-direction: column;
  }
}
@media (max-width: 450px) {
  body {
    margin: 1rem;
    overflow-x: hidden;
    width: 100vw;
  }
  #budgetListBody {
    margin: 0rem;
    flex-direction: row;
    width: 100vw;
  }

  #total.budget-div {
    width: 80%;
    margin: 1rem;
  }
}
