<form [formGroup]="budgetForm">
  <div id="budgetListBody">
    @for(item of budgetList; track item.title){
    <section>
      <div id="info-div">
        <h1>{{ item.title }}</h1>
        <p>{{ item.description }}</p>
      </div>
      <div id="div-price">
        <h2>{{ item.price }}</h2>
        <h3>$</h3>
      </div>

      <div
        id="checkbox-div
    "
      >
        <input type="checkbox" [formControlName]="item.controlName" />

        <label> Add</label>
      </div>

      @if( item.controlName === "website" && budgetForm.get('website')?.value){
      <app-panel></app-panel>
      }
    </section>
    } @empty {
    <p>There are no services.</p>
    }
  </div>

  <div id="total-budget-div">
    <h2 id="total-budget-text">Total budget:</h2>
    <div id="dolar-div">
      <h3 id="total-budget-number">{{ totalBudget }}</h3>
      <h3>$</h3>
    </div>
  </div>
</form>
