#banner-div {
  background-color: rgb(233, 231, 231);
  padding: 5rem 3rem;
  margin: 2rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}
