@if (showQuotes()) {
<h2>Active quotes:</h2>
<div id="buttons-div">
  <p id="button" (click)="showQuotes()">Date</p>
  <p id="button" (click)="sortByPrice()">Price</p>
  <p id="button" (click)="sortAlphabetically()">A-Z</p>
</div>

@if (quotesSignal().length > 0) {
<div id="quotes-list-body">
  @for (quote of quotesSignal(); track quote.name) {
  <section>
    <div id="info-div">
      <p id="name">{{ quote.name }}</p>
      <p>{{ quote.email }}</p>
      <p>{{ quote.phone }}</p>
    </div>

    <div id="services-div">
      Quoted Services: <br />
      {{ quote.services.join(", ") }}
    </div>

    <div>
      <p>Total:</p>
      <p id="totalBudget">{{ quote.totalBudget }} $</p>
    </div>
  </section>
  } @empty {
  <p>There are no quotes</p>
  }
</div>
} @else {
<p>There are no quotes</p>
} }
