<form [formGroup]="panelForm">
  <div id="num-page-div">
    <p>Number of pages</p>
    <button (click)="substractPages()">-</button>
    <input type="number" id="pages" formControlName="pages" />
    <button (click)="addPages()">+</button>
  </div>
  <div id="num-lang-div">
    <p>Number of languages</p>
    <button (click)="substractLanguages()">-</button>
    <input type="number" id="languages" formControlName="languages" />
    <button (click)="addLanguages()">+</button>
  </div>
</form>
<h2>
  Debugger for panel form price:
  {{
    budgetService.calculateWebsitePrice(
      panelForm.get("pages")?.value || 1,
      panelForm.get("languages")?.value || 1
    )
  }}
</h2>
